
body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.container_large {
    width: 1020px;
    margin: 0 auto;
}
.container_medium{
    width: 800px;
    margin: 0 auto;
} 
.container_small{
    width: 500px;
    margin: 0 auto;
}
.container_navbar{
    width: 90%;
    margin: 0 auto;
}
.container_portfolio{
    width: 100%;
    margin: 0 auto;
}
.mr_xtra_small{
    margin-right: 20px;
}
.mr_small {
    margin-right: 1%;
}
.mr_small_2 {
    margin-right: 2%
}
.mr_small_3{
    margin-right: 5%
}
.mr {
    margin-right: 10%;
}
.ml_small {
    margin-left: 10px;
}
.mr_big{
    margin-right: 20%;
}
.pr_small {
    padding-right: 5%;
}
.pr_xtra_small{
    padding-right: 5px;
}
.blue, .star_blue {
    color: #28BBEA;
}
.star_gray{
    color: #696565;
}

/* debut header */
header{
    background: url(../img/home.jpg) no-repeat;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.overlay{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
 
}
.brand{
    font-size: 25px;
    color: #fff;
    padding-top: 0.5%;
    position: absolute;
}
.brand p{
    margin: 0 !important;
}  
.brand span{
    color: #27B0DB
} 
.navbar{
    padding-top: 20px;
    position: relative;
    background-color: transparent;
    height: 50px;
    z-index: 2;
} 
.navbar ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding-top: 1%;
}
.nav-item a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    transition: 0.5s all; 
}
.nav-item a:hover {
    color: #28BBEA;
} 
.nav-item{
    padding-left: 6%;
} 
.header_article{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.header_article h1{
    color: #fff;
    font-size: 25px
} 
.header_article p{
    color: #fff;
    font-size: 15px;
    line-height: 40px;
}
.header_article button{
    width: 130%;
    color: #fff;
    padding: 10px 10px 10px 10px;
    background-color: #424242;
    border: 0;
    transition: 0.5s all;
}
.header_article button:hover{
    cursor: pointer;
    background-color: #fff;
    color: #424242;
} 
.header_article a{
    color: #fff;
    text-decoration: none; 
} 
/* fin header */

/* debut service */
#service{
    background-color: #fff; 
}
.header_service{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
} 
.header_service h1{
    color: #000;
    font-size: 25px;  
}
.header_service p{
    color: #6B6A6F;
    line-height: 30px;
}
.logo{
    position: relative;
    top: -25%;
    left: 20%;
    background-color: #fff;
    color: #27B0DB;
    width: 90px;
}
.article_service {
    padding-bottom: 100px;
}
.article_service .row{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.article_content_service{
    width: 150px;
    height: 150px;
    text-align: center;
    border: 1px solid #6B6A6F;
    margin-right: 30px;
    padding: 20px 40px 60px 40px;
    transition: 0.5s all;
}
.article_content_service:hover{
    border: 1px solid #28BBEA
}
.article_content_service h2{
    font-size: 17px;
    color: #000; 
} 
.article_content_service p{
    color: #6B6A6F;
    font-size: 13px;
    line-height: 30px;
} 
/* fin service */

/* debut figure */
#figure {
    background: url(../img/home.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 400px;
    top: 20%;
}
.overlay_figure{
    position: absolute;
    height: 400px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
 
}
#figure .row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
}
.article_content_figure {
    color: #fff;
    z-index: 1;
    text-align: center;
    transition: 0.5s all;
}
.article_content_figure:hover {
    color: #8DDBF4;
    transform: scale(1.2);
}
.article_content_figure h1 {
    font-size: 50px;
    margin: 0;
}
/* fin figure */

/* debut portfolio */
#portfolio {
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}
.portfolio_header {
    text-align: center;
}
.portfolio_header h1 {
    font-size: 30px;
    color: #111112;
}
.portfolio_header p {
    font-size: 20px;
    line-height: 30px;
    color: #6B6A6F;
}
.portfolio_header button {
    margin-top: 25px;
    padding: 10px 10px 10px 10px;
    background-color: transparent;
    border: 2px solid #424242;
    border-radius: 3px;
    transition: 0.5s all;
    color: #6B6A6F;
}
.portfolio_header a {
    color: #6B6A6F;
    text-decoration: none;
}
.portfolio_header button:hover {
    background-color: #424242;
    color: #fff;
    cursor: pointer;
}
.portfolio_content .row {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.portfolio_content .row_2 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.portfolio_content img {
    transition: 0.5s all;
}
.portfolio_content img:hover {
    transform: scale(1.07);
    cursor: pointer;
}
/* fin portfolio */

/* debut slider */
#slider {
    background-color: #2D2D2D;
    height: 650px;
}
.next i, .prev i {
    position: relative;
    top: 20%;
    left: 29%;
}
.prev, .next {
    position: relative;
    background-color: #424242;
    width: 50px;
    height: 50px;
    color: #fff; 
}
.prev{
    top: 41%;
    right: 50%;
}
.next{
    top: 50%;
    left: 140%;
}
.slideshow{
    height: 600px;
    position: relative;
}
.slide_container{
    width: 500px;
}
.slideshow ul {
    list-style: none;
}
.slideshow ul li {
    position: absolute;
    top: 0;
    left: 0;
}
.slideshow li {
    text-align: center;
}
.slideshow p {
    font-size: 30px;
    color: #fff;
}
.slideshow img {
    margin-top: 20px;
    border-radius: 50%;
    height: auto;
    width: 30%;
}
.star {
    display: flex;
    justify-content: center;
}
/* fin slider */

/* debut princing */
#pricing {
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}
.pricing_header{
    text-align: center;
}
.pricing_header h1 {
    font-size: 35px;
    color: #222222;
}
.pricing_header p {
    font-size: 20px;
    line-height: 30px;
    color: #6B6A6F;
}
#pricing .row {
    display: flex;
    justify-content: center;
}
.article_pricing_content {
    margin-top: 20px;
    text-align: center;
    background-color: #F4F4F4;
    width: 300px;
    height: 600px;
    transition: 0.5s all;
}
.article_pricing_content:hover{
    transform: scale(1.1);
}
.article_pricing_content h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #28BBEA;
    color: #fff;
    margin-top: 0;
}
.circle_price {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background-color: #28BBEA; 
    color: #fff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.circle_price .price {
    font-size: 50px;
}
.article_pricing_content p {
    margin-top: 30px;
    margin-bottom: 30px;
}
.article_pricing_content button {
    background-color: #222222;
    color: #fff;
    padding: 10px 20px 10px 20px;
    border: 0;
    border-radius: 2px;
    transition: 0.5s all;
}
.article_pricing_content button:hover {
    background-color: #28BBEA;
    cursor: pointer;
}
/* fin pricing */

/* debut logo */
#logo {
    width: 100%;
    background-color: #ECEBE9;
    height: 200px;
}
.logo_content .row {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_client{
    transition: 0.8s all;
}
.logo_client:hover{
    transform: scale(1.5) rotateX(360deg);
}
/* fin logo */

/* debut news */
#news{
    background-color: #F4F4F4;
    padding-top: 100px;
    padding-bottom: 100px;
}
.news_header {
    text-align: center;
}
.news_header h1 {
    font-size: 30px;
    color: #111112;
    margin: 0;
}
.news_header p {
    font-size: 20px;
    line-height: 30px;
    color: #6B6A6F;
}
.news_content .row {
    justify-content: center;
    display: flex;
}
.article_news_content {
    background-color: #fff;
    height: 500px;
    width: 300px;
    transition: 0.5s all;

}
.article_news_content:hover {
    transform: scale(1.1);
}
.article_news_content p, .article_news_content h1 {
    padding: 0 20px 0 20px;
}
.article_news_content img {
    height: auto;
    width: 100%;
}
.article_news_content p.body {  
    line-height: 30px;
    margin-top: 10%;
}
/* fin news */

/* debut contact */
#contact {
    background-color: #fff;
    height: 600px;
}
.contact_content .row {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.article_content_contactUs {
    width: 300px;
}
.article_content_message {
    width: 450px;
}
.article_content_message h1, .article_content_contactUs h1 {
    font-size: 30px;
    color: #111112;
}
.article_content_contactUs p {
    color: #6B6A6F;
    font-size: 20px;
    line-height: 25px;
}
#name{
    margin-right: 10px;
    padding: 10px 10px 10px 10px;
    width: 37.5%;
    border: 2px solid #F5F5F5
}
#mail{
    width: 37.5%;
    padding: 10px 10px 10px 10px;
    border: 2px solid #F5F5F5 
}
#subject{
    padding: 10px 10px 10px 10px;  
    width: 83.4%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #F5F5F5
}
#messages {
    width: 87.4%;
    height: 20%;
    border: 2px solid #F5F5F5
}
form button {
    margin-top: 20px;
    height: 40px;
    width: 20%;
    background-color: #222222;
    border: 0;
    color: #fff;
    transition: 0.5s all;
}
form button:hover {
    background-color: #28BBEA;
    cursor: pointer;
}
::placeholder {
    color: #8DDBF4;
}
/* fin contact */

/* debut footer */
#footer {
    background-color: #111112;
    height: 300px;
    padding-bottom: 32px;
}
.footer_content .row {
    height: 300px;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer_content{
    text-align: center;
}
.footer_header h1 {
    color: #fff;
    font-size: 30px
}
.footer_header p {
    color: #fff;
    font-size: 20px;
    line-height: 20px;
}
.footer_body {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 10px;
}
.logo_footer {
    background-color: #fff;
    color: #424346;
    height: 50px;
    width: 50px;
    transition: 0.5s all;
}
.logo_footer:hover{
    background-color: #242424;
    color: #fff;
    cursor: pointer;
}
.logo_footer i {
    position: relative;
    top: 32%;
}
/* fin footer */

/* ******************************************** */

/* debut media (min-width: 500px)(max-width: 600px)*/

/* ******************************************** */

@media screen and (min-width: 500px) and (max-width: 600px){
    .container{
        width: 50%;
        margin: 0 auto;
    }
    .container_large {
        width: 100%;
        margin: 0 auto;
    }
    .container_medium{
        width: 40%;
        margin: 0 auto;
    } 
    .container_small{
        width: 80%;
        margin: 0 auto;
    }
    .container_portfolio{
        width: 92%;
        margin: 0 auto;
    }
    .row {
        flex-direction: column;
        justify-content: center;
    }

    /* debut navbar */
    .brand {
        visibility: hidden;
    }
    .container_navbar{
        width: 85%;
        margin: 0 auto;
    }

    /* debut service */
    /* fin service */

    /* debut figure */
    #figure, .overlay_figure, #figure .row{
        height: 600px;
    }
    .article_content_figure{
        margin-right: 0;
    }
    /* fin figure */

    /* debut portfolio */
    .portfolio_content .row, .portfolio_content .row_2 {
        text-align: center;
    }
    .article_content_portfolio img {
        margin: 0;
        height: auto;
        width: 80%;
    }
    /* fin portfolio */

    /* slider */
    .prev, .next {
        position: relative;
    }
    .prev{
        top: 41.6%;
        right: 0;
    }
    .next{
        top: 50%;
        left: 90%;
    }
    /* fin slider */

    /* debut logo */
    #logo {
        height: 350px;
    }
    .logo_content .row {
        height: 350px;
    }
    .logo_responsive{
        margin-right: 5%;
    }
    /* fin logo */

    /* debut article */
    .article_news_content {
        margin-top: 25px;
    }
    /* fin article */

    /* contact */
    #contact {
        height: 1020px;
    }
    .contact_content .row {
        height: 1020px;
    }
    .article_content_message, .article_content_contactUs{
        width: 95%
    }
    /* fin contact */
}
/* ******************************************** */

/* fin media (min-width: 500px)(max-width: 600px)*/

/* ******************************************** */



/* ******************************************** */

/*        debut media (min-width: 500px)        */

/* ******************************************** */

@media screen and (max-width: 500px){
    .container{
        width: 60.3%;
        margin: 0 auto;
    }
    .container_large {
        width: 100%;
        margin: 0 auto;
    }
    .container_medium{
        width: 46.9%;
        margin: 0 auto;
    } 
    .container_small{
        width: 80%;
        margin: 0 auto;
    }
    .container_portfolio{
        width: 92%;
        margin: 0 auto;
    }
    .row {
        flex-direction: column;
        justify-content: center;
    }

    /* debut navbar */
    .brand {
        visibility: hidden;
    }
    .container_navbar{
        width: 100%;
        margin: 0 auto;
    }

    /* debut service */
    /* fin service */

    /* debut figure */
    #figure, .overlay_figure, #figure .row{
        height: 600px;
    }
    .article_content_figure{
        margin-right: 0;
    }
    /* fin figure */

    /* debut portfolio */
    .portfolio_content .row, .portfolio_content .row_2 {
        text-align: center;
    }
    .article_content_portfolio img {
        margin: 0;
        height: auto;
        width: 80%;
    }
    /* fin portfolio */

    /* slider */
    #slider {
        height: 700px;
    }
    .prev, .next {
        position: relative;
    }
    .prev{
        top: 62%;
        right: 0;
    }
    .next{
        top: 70%;
        left: 90%;
    }
    /* fin slider */

    /* debut logo */
    #logo {
        height: 350px;
    }
    .logo_content .row {
        height: 350px;
    }
    .logo_responsive{
        margin-right: 5%;
    }
    /* fin logo */

    /* debut article */
    .article_news_content {
        margin-top: 25px;
    }
    /* fin article */

    /* contact */
    #contact {
        height: 1020px;
    }
    .contact_content .row {
        height: 1020px;
    }
    .article_content_message, .article_content_contactUs{
        width: 90%
    }
    /* fin contact */
}
/* ******************************************** */

/*         fin media (min-width: 600px)         */

/* ******************************************** */